@media only screen and (max-width:500px){
    .btn-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
     
    }
    .butn{
       width: 140px;
       margin-top:10px;
    }
    #item-2{
        margin-left: 50px;
    }
    
}